@import "lightbox";
// Required
@import "functions";
@import "./helpers/variables";
@import "mixins";
@import "bootstrap";

@import "./helpers/utilities";

$primary-color: #004466;

body {
    color: $primary-color!important;
    font-weight: bold!important;
}